/*!
 Theme Name: Come Indonesia
 Theme URI: comeapp.id
 Author: Come Indonesia
 Author URI: comeapp.id
 Description: Come - Best way to travel
 Version: 1.0.4
 Text Domain: come-indonesia
 Tags: Post Category -> slide (slug -> slide-post) untuk tampil di slide, Tag-> Blog, Menu Filter -> menu category filter
 */

@tailwind base;

a {
  @apply text-blue-600;
}



@import "./hamburgers/hamburgers";

#mobile-menu .main-dropdown {
  margin-left: -16px;
  margin-top: -1px;
  border-top-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.175);
  overflow: scroll;
  max-height: calc(100vh - 50px);
  -webkit-overflow-scrolling: touch;
}

.dropdown-menu {
  z-index: 1000;
  float: left;
  min-width: 160px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

}

.grabnav-tab-menu {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.active {
  display: block !important;
}

.active-menu {
  display: block !important;
}



@tailwind components;

ul {
  list-style-type: disc;
  padding-left: theme("padding.4");
}

ol {
  list-style-type: decimal;
  padding-left: theme("padding.4");
}

.active-search {
  @apply bg-gray-300;
  z-index: 99;


  .search-input {
    width: 8rem;
  }

  .search-submit {
    z-index: 100;
  }
}



.search-input {
  width: 0;
  transition: all 1s;


}

.line-come {
  top: 4.5rem;
}


// Slide style

.container-card {
  height: 26rem;
  // top: 7em;

  @screen md {
    // top: 8em;
    height: 100%;
  }

  .card {
    box-shadow:
      0 5.5px 17.4px rgba(0, 0, 0, 0.06),
      0 41px 231px rgba(0, 0, 0, -0.004);
    min-width: 20rem;
    height: 24rem;
    // border: 1px solid #f0f0f0;

    @screen lg {
      height: 100%;
      box-shadow: none;
    }

    @screen md {
      height: 80%;
      box-shadow: none;
    }

    .wp-content {
      align-items: center;

      .title {
        @apply .text-xl .font-bold .leading-tight .mb-2;
      }
    }

  }

  .swiper-container {
    width: 100%;
    background: #f8fdfa;
  }
}




.wp-img {
  @screen md {
    background-size: contain;
    background-repeat: no-repeat;
    height: 394px;
    float: left;
    background-position: center;

    img {
      background-position: center;
      background-size: cover;
      object-fit: contain;
    }
  }



}

.wp-img img {
  background-size: cover;
  max-height: 394px;
}


@screen md {
  .wp-img img {
    width: 100%;
    margin: 0;
    margin-left: 1em;
    object-fit: contain;
  }

  .wp-content {
    float: right;
    align-items: center;
    padding: 40px 50px 20px 50px;
  }

  .read-more {
    background: #3BACEE;
    float: right;
    border: none;
    border-radius: 0.3em;

    a {
      text-decoration: none;
      font-size: 14px;
      color: #fff;
      display: inline;
    }
  }
}

// End Slide

// Section articles

.article-hero {
  // background-image: linear-gradient(to bottom, #ffffff, #effbf4);

  .top-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    flex-direction: column;

    .search {
      height: 50px;
      align-items: center;
    }
  }

  .filter-category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


    ul {
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        @apply .mx-4;

        @screen md {
          @apply .mx-6;
        }

        a {
          text-decoration: none;
          color: #d4d4d4;

          &:hover {
            text-decoration: underline;
            color: #000000;
          }
        }
      }
    }

    ul li.current-menu-item {
      @apply .font-semibold;
      border-bottom: 2px solid #3bacee;

      a {
        color: #000000;
      }

    }

    .menu-filter-container {

      .menu {
        @apply .flex .justify-center .flex-wrap .p-0;

        li .menu-item-object-category {
          @apply .mx-8;
        }
      }

    }
  }

}

.search-article {
  margin-top: 36px;
  height: 40px;
  box-shadow:
    0 0.9px 10.6px rgba(0, 0, 0, 0.11),
    0 2.9px 28.6px rgba(0, 0, 0, 0.004),
    0 12px 231px rgba(0, 0, 0, -0.009);

  border: 1px solid #ccd6dd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #949494;


  a {
    float: right;
    color: #949494;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: auto;
    text-decoration: none;
  }
}

.search-text {
  border: none;
  background: none;
  float: left;
  color: #949494;
  line-height: 20px;
  outline: none;
  font-size: 14px;
}

.card-posts {
  height: 440px;
  width: 360px;
  margin: 1rem;
  box-shadow:
    0 5.5px 17.4px rgba(0, 0, 0, 0.06),
    0 41px 231px rgba(0, 0, 0, -0.004);

  .img-thumbnail {
    img {
      @apply .h-48 .object-cover .object-center;
      background-size: cover;
      background-position: center;
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      @screen md {
        height: 330px;

      }
    }

  }

  @screen md {
    height: 560px;
    width: 360px;
  }
}

footer {
  background: linear-gradient(30deg,
      rgb(0, 169, 255) 0%,
      rgb(38, 65, 155) 150%);

  .nav-footer {
    a {
      color: white;
    }

    li {
      margin-bottom: 0.7em;
    }

    h2 {
      font-size: 15px;
      margin-bottom: 1em;
      text-transform: uppercase;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.pagination .page-numbers {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span.current {
  border: 2px solid #3bacee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.custom-logo-link {
  width: 10rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.shared-counts-wrap {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.shared-counts-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shared-counts-icon {
  padding: 0;
}

.facebook {
  width: 35px;
  height: 35px;
  color: #fff;
  background: #3b5998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter {
  width: 35px;
  height: 35px;
  color: #fff;
  background: #1da1f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedin {
  width: 35px;
  height: 35px;
  color: #fff;
  background: #0077b5;
  display: flex;
  align-items: center;
  justify-content: center;
}


.post {
  p {
    @apply .leading-relaxed .tracking-wide;

    @screen md {
      @apply .text-lg;
    }
  }
}

// Text Post

.markdown {

  h1 {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    @apply leading-tight text-xl font-bold text-black mb-2 mt-10;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #565D6B;
  }

  h3 {
    @apply leading-tight text-lg font-bold text-black mt-8 -mb-2;
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #565D6B;
  }

  h4 {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  p {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    @apply .text-gray-800 .font-normal;
  }

  strong {
    @apply font-bold;
  }
}

.landing-img {
  img.attachment-secondary-featured-thumbnail {
    @apply .w-full;
  }
}




//Menu Mobile

.menu-main-menu-mobile-container {
  ul {
    @apply .list-none .text-base .block .p-0 .h-full;

    li {
      @apply .flex .h-12 .border-b .border-gray-300 .items-center .py-4;

      a {
        @apply .text-black .inline-block .pl-4 .font-semibold;
      }
    }
  }
}



//Grab Menu

div.grabnav-tab-container {
  z-index: 10;
  padding: 0 !important;
}

@media (max-width: 1440px) {
  .grabnav-tab-container {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .grabnav-tab-container {
    width: 1440px;
  }
}

div.grabnav-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  width: 338px;
  float: left;
  background-color: #fff;
}

div.grabnav-tab-menu div.list-group {
  margin-bottom: 0;
  padding-left: 0;
}

div.grabnav-tab-menu div.list-group a.list-group-item {
  height: 80px;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 40px;
  text-align: left;
  border-bottom: 1px solid #f6f8fa;
  border-top: none;
  border-right: 1px solid #f6f8fa;
  // color: #363a45;
  display: flex;
  align-items: center;
}

div.grabnav-tab-menu div.list-group a.active {
  background-color: #f6f8fa;
  background-image: #f6f8fa;
  color: #363a45;
  border-color: #f6f8fa;
  text-decoration: none;
}

// .list-group-item.active,
// .list-group-item.active:focus,
// .list-group-item.active:hover {
//   background: #0c944a;
// }

div.grabnav-tab {
  float: left;
  width: calc(100% - 338px);
}

div.grabnav-tab-content {
  background-color: transparent;
  padding-left: 20px;
  padding-top: 10px;
  min-height: 400px;
}

/* div.grabnav-tab div.grabnav-tab-content.active {} */

div.grabnav-tab div.grabnav-tab-content:not(.active) {
  display: none;
}

.list-group-item:hover {
  text-decoration: none;
  background-color: #f6f8fa;
  background-image: #f6f8fa;
  color: #363a45;
  border-color: #f6f8fa;
}

@media (min-width: 768px) {
  .list-group-horizontal .list-group-item {
    display: inline-block;
  }

  .list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: -5px;
    margin-right: 0;
  }

  .list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    margin-left: 0;
  }

  .list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
}

div.grabnav-tab div.grabnav-tab-content .item-link {
  width: 134px;
  float: left;
  margin: 20px 0px 0px 40px;
  height: 102px;
}

div.grabnav-tab div.grabnav-tab-content .item-link h4 {
  margin-bottom: 10px;
  line-height: 1.8;
  font-weight: bold;
  font-family: "Sanomat Grab Web Medium", sans-serif;
  margin-top: 23px;
}

div.grabnav-tab div.grabnav-tab-content .item-link h4,
div.grabnav-tab div.grabnav-tab-content .item-link h4 a {
  font-size: 16px;
  color: #363a45;
}

div.grabnav-tab div.grabnav-tab-content .item-link h4 a:hover {
  text-decoration: none;
  border-bottom: solid 2px #00b14f;
}


//End Grab menu

.paraf-post {
  @screen md {
    p {
      order: 3;
    }
  }
}

// Markdown Halaman Bantuan
.bantuan {

  blockquote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

}



@tailwind utilities;

* {
  box-sizing: border-box;
}


.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}